asgiref==3.5.1
backports.zoneinfo==0.2.1
certifi==2022.6.15
charset-normalizer==2.1.0
distlib==0.3.4
Django==4.0.6
django-rest-framework==0.1.0
djangorestframework==3.13.1
filelock==3.7.1
gunicorn==20.1.0
heroku==0.1.4
idna==3.3
platformdirs==2.5.2
python-dateutil==1.5
pytz==2022.1
requests==2.28.1
six @ file:///AppleInternal/BuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-103/six-1.15.0-py2.py3-none-any.whl
sqlparse==0.4.2
urllib3==1.26.9
virtualenv==20.14.1
whitenoise==6.2.0
